@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../../public/assets/fonts/OpenSans.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../../public/assets/fonts/OpenSans-700.woff2') format('woff2');
}

html {
  color: #ffffff;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
  scrollbar-color: rgba(255, 255, 255, .5) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .5);
}

* {
  font-family: OpenSans, sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

a {
  color: #ffffff;
}

p {
  margin: 0;
}

body {
  background-color: #1c95ec;
  margin: 0 1rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  vertical-align: middle;
}

section {
  margin: 1rem auto;
}

summary {
  margin: 0 1rem;
}

.wrapper {
  margin: 1rem 0;
  padding: 1rem 0 0;
  width: 750px;
  border-radius: 10px;
  max-width: 100vw;
  background: linear-gradient(to top left, rgba(0, 0, 0, .3), rgba(0, 0, 0, .1));
  box-shadow: 8px 8px 20px rgba(0, 0, 0, .2);
}

header {
  font-size: 1.5rem;
  padding: 0 1rem;
  text-align: right;

  #heure {
    float: left;
    font-size: .8rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
  }

  button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    border-radius: 50%;
    transition: .2s;

    &:hover {
      background-color: rgba(255, 255, 255, .1);
    }
  }
}

.input-part {
  margin: 1rem 2rem;
  text-align: center;

  .separator {
    height: 1px;
    background-color: #ffffff;
    width: 75%;
    margin: 25px auto;
  }

  input,
  button {
    width: 95%;
    height: 55px;
    border: none;
    font-size: 1.1rem;
    color: #ffffff;
    margin: 10px auto;
    border-radius: 10px;

    &:focus {
      outline: 3px solid rgba(0, 0, 0, .5);
    }
  }

  input {
    padding: 0 1rem;
    border: 2px solid #ffffff;
    text-align: center;
    background: none;

    &::placeholder {
      color: #ffffff;
      opacity: .7;
    }
  }

  button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .3);

    &:hover {
      background-color: rgba(0, 0, 0, .2);
    }
  }
}

.alerts-thunder-part,
.alerts-heat-part {
  margin: 5px auto;
  padding: 5px;
  width: 95%;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  background-color: rgba(255, 255, 255, .1);
}

.main-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: .5rem;

  .temp {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .main-temp {
      display: block;
      font-size: 2.4rem;
      font-weight: 700;
    }

    .line {
      display: block;
      text-align: left;
      opacity: .8;
    }
  }
}

.info-txt {
  font-size: 1rem;
  padding: 10px;
  width: 95%;
  margin: 1rem auto;
  text-align: center;
  height: 55px;
  border-radius: 10px;
  line-height: 38px;
  display: none;
  background-color: rgba(31, 169, 255, .5);
}

.weather-part {
  margin: 5px 0 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.details {
  display: flex;
  width: 95%;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 10px;
  margin: auto;
  overflow-x: auto;
  padding: 5px;

  span {
    vertical-align: middle;
  }
}

.carte {
  text-align: center;

  iframe {
    border-radius: 10px;
    border: none;
    margin: auto;
  }
}

.sous-titre {
  font-size: .8rem;
  text-align: center;
}

.graphique {
  margin-top: 1rem;
  text-align: center;

  .recharts-surface {
    padding: 0 1rem;
  }

  .recharts-responsive-container {
    margin: 0 auto;
  }

  .custom-tooltip {
    background-color: rgba(50, 50, 50, .4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 5px 1rem;

    p {
      margin: 5px 0;
    }
  }
}

.column {
  width: 100%;
  margin: 5px;
  text-align: center;
}

.forecasts-part .column {
  min-width: 80px;
}

.rain-jauge {
  width: 95%;
  max-width: 500px;
  height: 50px;
  margin: 1rem auto;
  overflow: hidden;
  border-radius: 45px;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;

  .jauge-section {
    flex: 1;
    height: 100%;
    background-color: transparent;

    &.high {
      background-color: rgba(57, 196, 243, .8);
    }

    &.low {
      background-color: rgba(57, 196, 243, .4);
    }
  }
}

.jauge-labels,
.images-chart1,
.images-chart2 {
  display: flex;
  justify-content: space-between;
  margin: 5px .8rem 0;
}

.jauge-label {
  flex: 1;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
}

.plus-info {
  margin: 1.5rem;

  p {
    margin: 1rem;

    svg {
      font-size: 1.5rem;
      margin: 0 5px;
      vertical-align: middle;
    }
  }
}

.temp-min-max {
  font-size: .8rem;
}

.bold {
  font-weight: 700;
}

#error-notification {
  position: fixed;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  margin: 1rem auto;
  font-size: 1rem;
  text-align: center;
  max-width: 300px;
  background-color: #a93b3b;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  display: none;
  z-index: 999;
}

footer {
  text-align: center;
  font-size: .8rem;
  margin: 1rem 0;
}
